<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Spatial Server</title>
</head>

<body>
    <div class="container-sm position-absolute top-50 start-50 translate-middle">
        <h2 class="text-center">Spatial Server</h2>
        <div class="row-cols-1 justify-content-center">
            <button type="button" class="btn btn-primary mb-2" id="create-map">Create Map</button>
            <button type="button" class="btn btn-primary mb-2" id="scale-map">Scale Map</button>
            <button type="button" class="btn btn-primary mb-2" id="download-map">Download Map</button>
            <button type="button" class="btn btn-primary mb-2" id="register-map">Register Map</button>
            <button type="button" class="btn btn-primary mb-2" id="save-image-pose">Save Image Pose</button>
            <button type="button" class="btn btn-primary mb-2" id="upload-waypoints">Upload Waypoints</button>
            <button type="button" class="btn btn-primary mb-2" id="explore-waypoints">Explore Waypoints</button>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        document.getElementById('create-map').addEventListener('click', function () {
            window.location.href = "/create_map";
        });
        document.getElementById('scale-map').addEventListener('click', function () {
            window.location.href = "/scale_map";
        });
        document.getElementById('download-map').addEventListener('click', function () {
            window.location.href = "/download_map";
        });
        document.getElementById('register-map').addEventListener('click', function () {
            window.location.href = "/register_with_discovery";
        });
        document.getElementById('save-image-pose').addEventListener('click', function () {
            window.location.href = "/save_image_pose";
        });
        document.getElementById('upload-waypoints').addEventListener('click', function () {
            window.location.href = "/upload_waypoints";
        });
        document.getElementById('explore-waypoints').addEventListener('click', function () {
            window.location.href = "/explore_waypoints";
        });
    </script>
</body>

</html>