data/

.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode/

# Ignore notebook uses for testing
temp.ipynb
inspect_localize.ipynb
.ipynb_checkpoints/

# camera pose collector
node_modules/