<div class="p-3 mb-2 bg-light text-dark">
    Upload Polycam data as a zip file exported using "raw" option from the Polycam app.
</div>

<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control mb-2" id="name" placeholder="ArenaLab">

    <label for="zip" class="form-label">Polycam zip</label>
    <input type="file" class="form-control mb-2" id="zip">
</div>

<button type="button" class="btn btn-success mb-3" id="submit-button">Submit</button>

<div class="progress">
    <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; visibility: hidden;"></div>
</div>

<script src="{{ url_for('static', filename = 'scripts/map_upload/zip_upload.js') }}"></script>

<script>
    document.getElementById('submit-button').addEventListener('click', function () {
        const progressBar = document.getElementById('progressBar');
        const submitButton = document.getElementById('submit-button');
        uploadZip('/create_map/polycam', progressBar, submitButton);
    });
</script>