<div class="p-3 mb-2 bg-light text-dark">
    Upload Polycam data as a zip file exported using "raw" option from the Polycam app.
</div>

<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control mb-2" id="name" placeholder="ArenaLab">

    <label for="zip" class="form-label">Polycam zip</label>
    <input type="file" class="form-control mb-2" id="zip">
</div>

<button type="button" class="btn btn-success" id="submit-button">Submit</button>

<script src="{{ url_for('static', filename = 'scripts/map_upload/zip_upload.js') }}"></script>

<script>
    document.getElementById('submit-button').addEventListener('click', function () {
        uploadZip(serverAddress = '/create_map/polycam');
    });
</script>